@import "tailwindcss";

@font-face {
  font-family: 'Cowboy Outlaw';
  src: url('/cowboy-outlaw.regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cowboy: 'Cowboy Outlaw', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
